
  .cards{
    /* margin-left: 28px; */
  }
  .image-container {
    position: relative;
  }
  
  .icons {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease;
    
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    font-size: 20px; 
    color: #333; 
    transition: background-color 0.3s ease; 
    position: relative;
  }
  
  .cards:hover .icons {
    opacity: 1; 
  }
  
  .icons span {
    font-size: 24px; 
    color: rgb(11, 11, 11); 
    margin: 0 10px;
    cursor: pointer;
    padding: 8px;
  }
  
  .cards:hover .icons span:hover {
    background-color: #ff9900; 
    color: white;
  }
  .body {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    height: 100px; 
    width: 250px;
  }
.showdata{
  /* background-color: #ff9900; */
  /* margin-left: 250px; */
}
.b{
  margin-left: 20px;
}
@media (max-width: 992px) {
  .product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-card {
    width: 48%; /* عرض 2 صور في كل صف */
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .product-card {
    width: 20%; /* عرض 2 صور في كل صف */
    margin-bottom: 20px;
  }
  h1{
    /* margin-left: 10px; */
  }
}

